IO_LOC "clk" 4;

IO_LOC "PALATTE_SWITCH" 76;

IO_LOC "COLOUR[0]" 73;
IO_LOC "COLOUR[1]" 74;

IO_LOC "ADDRESS[0]" 75;
IO_LOC "ADDRESS[1]" 85;
IO_LOC "ADDRESS[2]" 77;
IO_LOC "ADDRESS[3]" 15;
IO_LOC "ADDRESS[4]" 16;
IO_LOC "ADDRESS[5]" 27;
IO_LOC "ADDRESS[6]" 28;
IO_LOC "ADDRESS[7]" 25;
IO_LOC "ADDRESS[8]" 26;
IO_LOC "ADDRESS[9]" 29;
IO_LOC "ADDRESS[10]" 30;
IO_LOC "ADDRESS[11]" 31;
IO_LOC "ADDRESS[12]" 17;

IO_LOC "IE" 20;